*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;

}

#main {
    height: 100vh;
    width: 100%;
}
#site-logo{
    position: absolute;
    height: 50px;
    width: 100px;
    top:1%;
    left: 1%;
    opacity: 0;
    object-fit: cover;
    animation: visible 0.5s ease-out 2s forwards;

}
.background{
    height: 100%;
    width: 100%;
    position:fixed;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    animation: zoomin 1.5s ease-out 0.8s 1 forwards;
    z-index: -1;
}
@keyframes zoomin {
    to{
       transform: scale(3.5) translateY(-50px);
       filter: brightness(0.7) contrast(1.2);
    }
}

#character-slider-container{
    position: relative;
    top:50%;
    transform: translateY(-50%); 
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, black, black, transparent);
}
#character-slider{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)*var(--quantity));
    position: relative;
    opacity: 0;
    animation: visible 0.5s  forwards;
    animation-delay: 2s;
    perspective: 600px;
}
.card{
    width: var(--width);
    height: var(--height);
    transform-style: preserve-3d;   
    position: absolute;
    left: 100%; 
    z-index: 2;
    animation: autorun 50s linear infinite;
    will-change: left;
    animation-delay: calc( (50s / var(--quantity) ) * ( var(--position) - 1 ) - 49s );
    border-radius: 16px;
    overflow: visible;
    transition: ease all 0.3s;

}

@keyframes autorun {
    0%{
        left:100%;
        scale: 0;
    }
    48%{
        scale: 0;
    }
    51%{
        scale: 1;
    }
    94%{
        scale: 1;

    }
    100%{
        left: calc(var(--width)*-1);
        scale: 0;
    }
}
@keyframes visible {
    from { opacity: 0; }
    to { opacity: 1; }
}


#character-slider-container:hover .card{
    animation-play-state: paused!important;
    filter: blur(8px);

}
.card:hover{
    filter: blur(0)!important;

}
.card:hover .shape{
        transform:  perspective(2000px) rotateY(65deg) translateY(-50%) translateX(-110%);
        scale: 1;
        opacity: 1;

}

.card:hover .card-bg{
    transform: perspective(20px) rotateX(2deg) scale(0.5) translateY(300px);
    height: 50%;
    bottom: 0;
}

.card:hover .model{
    top: 0 ;
    height: 50%;
    bottom: 0;
    left: 70%;
        scale: 1.1;
}


.card-bg{
   width: var(--width);
   height: var(--height);
    position: relative;
    transition: ease all 0.3s;
    overflow: hidden;
    border-radius: 16px;
    transition: ease all 0.3s;
}
.card-bg img{
    height: 100%;
    width: 100%;
    filter: brightness(0.6);
}
.model{
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate( -50%) scale(0.5);
    transition: ease all 0.3s;
}
.model img{
    height: 100;
    width: 100;
    object-fit: cover;
}


.shape{
    height: 100px;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 25px;
    z-index: 5;
    top:50%;
    background-color: rgba(0, 0, 0, 0.795);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    clip-path: polygon( 2.431% 0.201%,2.431% 0.201%,2.055% 0.253%,1.699% 0.406%,1.367% 0.649%,1.063% 0.976%,0.794% 1.377%,0.562% 1.845%,0.374% 2.371%,0.234% 2.947%,0.146% 3.565%,0.116% 4.217%,0.116% 95.884%,0.116% 95.884%,0.146% 96.535%,0.234% 97.153%,0.374% 97.729%,0.562% 98.255%,0.794% 98.723%,1.063% 99.125%,1.367% 99.451%,1.699% 99.695%,2.055% 99.847%,2.431% 99.9%,97.569% 99.9%,97.569% 99.9%,97.945% 99.847%,98.301% 99.695%,98.633% 99.451%,98.937% 99.125%,99.206% 98.723%,99.438% 98.255%,99.626% 97.729%,99.766% 97.153%,99.854% 96.535%,99.884% 95.884%,99.884% 36.117%,99.884% 36.117%,99.854% 35.466%,99.766% 34.848%,99.626% 34.272%,99.438% 33.745%,99.206% 33.277%,98.937% 32.876%,98.633% 32.549%,98.301% 32.306%,97.945% 32.154%,97.569% 32.101%,57.375% 32.101%,57.375% 32.101%,57.109% 32.075%,56.849% 31.996%,56.598% 31.868%,56.359% 31.693%,56.133% 31.474%,55.922% 31.212%,55.73% 30.909%,55.557% 30.57%,55.406% 30.195%,55.279% 29.787%,47.925% 2.515%,47.925% 2.515%,47.798% 2.107%,47.647% 1.732%,47.474% 1.393%,47.282% 1.09%,47.071% 0.828%,46.845% 0.609%,46.606% 0.434%,46.355% 0.306%,46.095% 0.227%,45.829% 0.201%,2.431% 0.201% );
    transform:  perspective(2000px) rotateY(90deg) translateY(-50%) translateX(-110%); 
    scale: 0;
    opacity: 0;
    transition: ease all 0.5s;
}
.shape h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: #fff;
}

.shape p{
    margin-top: 20px;
    margin-right: 100px;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(172, 172, 172);
}

